@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

#hero {
  background: #95B9C9;
  min-height: 100vh;
  padding-top: 70px;
}

#admin {
  background: #95B9C9;
  min-height: 100vh;
  padding-top: 70px;
}

.active {
  color: red;
  border-bottom: 3px solid red;
}